<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStringService" />
                <binding name="BasicHttpBinding_IStringService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/StringService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IStringService" contract="IStringService"
                name="BasicHttpBinding_IStringService" />
            <endpoint address="http://localhost:8080/StringService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IStringService1" contract="ServiceReference1.IStringService"
                name="BasicHttpBinding_IStringService1" />
        </client>
    </system.serviceModel>
</configuration>